<div id="<%= dom_id staff %>">
  <p>
    <strong>Name:</strong>
    <%= staff.name %>
  </p>

  <p>
    <strong>National:</strong>
    <%= staff.national_id %>
  </p>

  <p>
    <strong>Staff registration number:</strong>
    <%= staff.staff_registration_number %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= staff.phone_number %>
  </p>

</div>
