<div id="<%= dom_id staff %>" class="header-layout">
  <%= image_tag staff.image, :style=>"height: 40px; width: 40px; border-radius: 50%" %>
  <p>
    <strong>Name:</strong>
    <%= staff.name %>
  </p>
  <p>
    <strong>National:</strong>
    <%= staff.national_id %>
  </p>
  <p>
    <strong>Staff registration number:</strong>
    <%= staff.staff_registration_number %>
  </p>
  <p>
    <strong>Phone number:</strong>
    <%= staff.phone_number %>
  </p>
</div>
