<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>National:</strong>
    <%= student.national_id %>
  </p>

  <p>
    <strong>Registration number:</strong>
    <%= student.registration_number %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= student.location %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= student.phone_number %>
  </p>

</div>
