<% if current_student || current_staff || current_admin %>
<p style="color: green"><%= notice %></p>

<%= render @department %>



<div>
  <% if current_admin %>
  <%= link_to "Edit this department", edit_admin_department_path(current_admin, @department) %> |

  <%= button_to "Destroy this department", @department, method: :delete %>
  <% end %>
  <%= link_to "Back to departments", admin_departments_path(current_admin) %>
</div>


<% else %>
  <p>Log in to view this</p>
<% end %>