<div id="<%= dom_id subject %>">
  <p>
    <strong>Subject name:</strong>
    <%= subject.subject_name %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= subject.course_id %>
  </p>

  <p>
    <strong>Staff:</strong>
    <%= subject.staff_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= subject.student_id %>
  </p>

</div>
