<header>      
  <% if student_signed_in? %>
    <h2>Student: <%= current_student.name if current_student %></h2>
    <%= link_to 'Sign Out as Student', destroy_student_session_path, method: :delete %> |
  <% elsif !staff_signed_in? %>
    <%= link_to "Sign In as Student", new_student_session_path %> |
  <% else !admin_signed_in? %>
    <%= link_to "Sign In as Student", new_student_session_path %> |
  <% end %>

  <% if staff_signed_in? %>
    <h2>Staff: <%= current_staff.name if current_staff %></h2>
    <%= button_to 'Sign Out as Staff', destroy_staff_session_path, method: :delete %> |
  <% elsif !student_signed_in? %>
    <%= link_to "Sign In as Staff", new_staff_session_path %> |
  <% else !admin_signed_in? %>
    <%= link_to "Sign In as Staff", new_staff_session_path %> |
  <% end %>
  <% if admin_signed_in? %>
  <h2>Admin: <%= current_admin.name if current_admin %></h2>
    <%= link_to 'Sign Out as Admin', destroy_admin_session_path, method: :delete %> |
  <% elsif !staff_signed_in? %>
    <%= link_to "Sign In as Admin", new_admin_session_path %> |
  <% else !student_signed_in? %>
    <%= link_to "Sign In as Admin", new_admin_session_path %> |
  <% end %>
</header>