<!DOCTYPE html>
<html>
  <head>
    <title>ClasslistAttendanceSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <header>
      <% if current_student %>
        <h2>Student: <%= current_student.name %></h2>
        <%= button_to 'Sign Out as Student', destroy_student_session_path, method: :delete %>
      <% elsif current_staff %>
      <h2>Staff: <%= current_staff.name if current_staff %></h2>
      <%= button_to 'Sign Out as Staff', destroy_staff_session_path, method: :delete %>
      <% elsif current_admin %>
      <h2>Admin: <%= current_admin.name if current_admin %></h2>
      <%= button_to 'Sign Out as Admin', destroy_admin_session_path, method: :delete %>
      <% end %>
    </header>
    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
